# osx
.idea
*.iml
.DS_Store
.ipynb_checkpoints
*.egg-info
__pycache__
temp.json
test/nbtest/build
test/nbtest/dist
venv
.venv
.env*
supporting-blog-content/hybrid-search-for-an-e-commerce-product-catalogue/app-product-store/node_modules/.package-lock.json
supporting-blog-content/hybrid-search-for-an-e-commerce-product-catalogue/app-product-store/node_modules/
